<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}"
      data-theme="{{ .Params.theme | default site.Params.defaultTheme | default "cream" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{- $fold     := resources.Get "js/fold.js"     | minify | fingerprint -}}
  {{- $toc      := resources.Get "js/toc.js"      | minify | fingerprint -}}
  {{- $widgets  := resources.Get "js/widgets.js"  | minify | fingerprint -}}
  {{- $pyplot   := resources.Get "js/pyplot.js"   | minify | fingerprint -}}
  {{- $techtree := resources.Get "js/techtree.js" | minify | fingerprint -}}
  <script src="{{ $fold.RelPermalink }}"     defer></script>
  <script src="{{ $toc.RelPermalink }}"      defer></script>
  <script src="{{ $widgets.RelPermalink }}"  defer></script>
  <script src="{{ $pyplot.RelPermalink }}"   defer></script>
  <script src="{{ $techtree.RelPermalink }}" defer></script>
</body>
</html>
